@model ServiceNet.Models.DateViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Current Date</title>
</head>
<body>
    @Html.DisplayFor(m => m.ReturnDate)
</body>
</html>
